<div class="auth">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a href="#login" class="active">Login</a></li>
        <li class="tab col s6"><a href="#register">Register</a></li>
      </ul>
    </div>

    <div id="login" class="col s6 offset-s3">
      {{#if loginError}}
      <p class="alert">{{loginError}}</p>
      {{/if}}

      <h1>Login</h1>

      <form action="/auth/login" method="POST">
        <div class="input-field">
          <input id="login-email" name="email" type="email" class="validate" required>
          <label for="login-email">Email</label>
          <span class="helper-text" data-error="Field is required"></span>
        </div>

        <div class="input-field">
          <input id="login-password" name="password" type="password" class="validate" required>
          <label for="login-password">Password</label>
          <span class="helper-text" data-error="Field is required"></span>
        </div>

        <p><a href="/auth/reset-password">Forgot password?</a></p>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button type="submit" class="btn btn-primary">Log in</button>
      </form>
    </div>

    <div id="register" class="col s6 offset-s3">
      {{#if registerError}}
      <p class="alert">{{registerError}}</p>
      {{/if}}

      <h1>Create Account</h1>

      <form action="/auth/register" method="POST">
        <div class="input-field">
          <input id="register-name" name="name" type="text" class="validate" required>
          <label for="register-name">Name</label>
          <span class="helper-text" data-error="Field is required"></span>
        </div>

        <div class="input-field">
          <input id="register-email" name="email" type="email" class="validate" required>
          <label for="register-email">Email</label>
          <span class="helper-text" data-error="Field is required"></span>
        </div>

        <div class="input-field">
          <input id="register-password" name="password" type="password" class="validate" required>
          <label for="register-password">Password</label>
          <span class="helper-text" data-error="Field is required"></span>
        </div>

        <div class="input-field">
          <input id="register-repeat-password" name="repeatPassword" type="password" class="validate" required>
          <label for="register-repeat-password">Repeat password</label>
          <span class="helper-text" data-error="Field is required"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>