.nav-wrapper {
  padding: 0 2rem;
}

.price {
  font-size: 1.5rem;
}

.fz2rem {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 1rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}
